[2018-10-31 23:48] Kevin-GIS commented on #207
@xavierjunod I just wanted to follow-up to see if this is still an issue you're running into, based off my last comment?

[2018-10-31 23:48] Kevin-GIS commented on #206
This issue has been addressed. Closing this issue.

[2018-10-31 23:48] #206 closed

[2018-10-31 23:51] Kevin-GIS commented on #203
@xavierjunod this issue is due to having Logging enabled in Settings when trying to perform the download. Disable logging, and this issue is not reproducible.

Logged SF 1291

[2018-10-31 23:53] Kevin-GIS commented on #190
This issue has been addressed. Closing this issue.

[2018-10-31 23:53] #190 closed

[2018-10-31 23:59] Kevin-GIS commented on #53
This crashing issue has been addressed. Closing this issue.

[2018-10-31 23:59] #53 closed

[2018-11-01 00:00] Kevin-GIS commented on #49
This issue has been addressed. Closing this issue.

[2018-11-01 00:00] #49 closed

[2018-11-02 21:54] trichtl commented on #53
Thanks - worked now well in Build 2469

[2018-11-02 22:09] trichtl commented on #166
Hi @Kevin-GIS - as an related case was fixed - I reseted, but this still Fails just after a view seconds. (approx. 12.5 % of the circle)

[2018-11-02 22:12] trichtl commented on #44
@Kevin-GIS  Tested with Build 2469 - Change a date before 100 could be edit offline, but sync Fails - so I would recommand to now allow to enter Dates before 100. This Date 100 Limit is in General a Limit in ArcGIS and should be consited handled within the Plattform in our opinon

[2018-11-02 22:14] trichtl commented on #113
@Kevin-GIS as we got close to final I retested and still exists - but as it exists within Explorer as well and we have case similar Problem with poor Runtime we assume it is a Core Runtime SDK issue.

[2018-11-02 22:17] trichtl commented on #176
Verified with Build 2469 now it is consistent within the UI

[2018-11-02 22:31] trichtl commented on #13
@Kevin-GIS - Retested with Build 2469 - still Fails - after 12.5 % it stopps and Message with No Offline Areas is comming, doesn't matter which zoom Level we use

[2018-11-02 22:44] trichtl commented on #43
Hi @Kevin-GIS - just retest this - because of the Format Change in Online it is now correctly displayed - also when consuming back in Pro - in Pro only the Attribute field didn't Show a date.

But as soon I want to take the map offline after the Change to a date below 100, which works fine online it Fails - not sure if we should log this now as a different issuee or work on this with that Problem?

[2018-11-02 22:49] trichtl commented on #175
Hi @Kevin-GIS in rechecking with Build 2469 I found the real issue - Symbol is set to scale by reference scale, which is not yet supported by runtime - this in on the list for update 100.5 - that's the reason why the Point Symbol didn't Display correctly.

[2018-11-02 22:57] trichtl commented on #37
Hi @Kevin-GIS as revisting the open Problems I checked also this and it still exists within Build 2469 -  first try was also a crash of collector, but within the logging there was the same error with the spatial reference (tested now with the updated iOS to 12.1)

[2018-11-02 23:02] Kevin-GIS commented on #37
Hi @trichtl thanks for the feedback. This is still a known issue that is being worked on. I retested and reproduced the same error. I didn't reproduce the crash however.

Can you reproduce the crash each time?

[2018-11-02 23:03] Kevin-GIS commented on #175
Thanks for the feedback @trichtl

[2018-11-02 23:05] trichtl opened #208 "C28 - coordinate units the only once which are not tranlated"
Dear Esri-Team,

Software: Collector
Verion  : Build 2469
OS      : iOS 12.1, iPad Air 2

Description:

within the profile we could configure the units - all is correctly translated to german - excpet the units for the coordinates, those are still in english.
To be consistent they should be in german as well.

See the attached screenshots.

Best regards,

Gerhard "Luigi" Trichtl
[bug.docx](https:/

[2018-11-02 23:20] Kevin-GIS commented on #208
Thanks for the feedback @trichtl

Sharing this information with the team.

[2018-11-02 23:21] trichtl commented on #37
@Kevin-GIS - not consistent - 1 crash in several tries - but it was just to help you that I retested the issue with the correct builds - if needed more info I'm the next weeks until Nov. 16th in Redlands

[2018-11-02 23:29] trichtl opened #209 "C29 - Some terms are not in german yet"
Dear Esri-Team,

Software: Collector
Verion  : Build 2469
OS      : iOS 12.1, iPad Air 2

Description:

as we got close to release I still see some terms in english in some UI's - attached some location I found

See the attached screenshots.

Best regards,

Gerhard "Luigi" Trichtl
[bug.docx](https://github.com/doug-m/CollectorAuroraTesting/files/2544421/bug.docx)
[bug.txt](https://github.com/doug-

[2018-11-02 23:58] Kevin-GIS commented on #209
Thanks @trichtl I will add those to the list.

[2018-11-03 00:10] Kevin-GIS commented on #208
Logged SF 1336

[2018-11-03 00:10] Kevin-GIS commented on #209
Logged SF 1336

[2018-11-03 01:16] trichtl commented on #182
@miaogeng - thank tested now again with Build 2469 and it worked now as expected - Thanks for fixing

[2018-11-06 18:02] Kevin-GIS commented on #13
Thanks for the feedback @trichtl

The issue you're seeing is actually a create replica failed error, that is a known issue reported to AGOL. The issue is with the special characters in the layer names. Hopefully this will be addressed in the December release of AGOL.

[2018-11-06 18:03] Kevin-GIS commented on #113
Thanks for the feedback @trichtl

Yes this is still a known issue at the runtime level.

[2018-11-06 18:38] Kevin-GIS commented on #44
Thanks for the feedback @trichtl

Logged SF 1341

[2018-11-06 23:40] trichtl opened #210 "C30 - World Topo Map (inkl. Hillshades) works Preplanned, but not AddHoc Offline"
Dear Esri-Team,

Software: Collector
Version : Build 2469
OS      : iOS 12.1 - iPad Air 2

Description:

WebMap with a simple Featureservice and Worldtopo and Hillshade service - we define a Preplanned Area, there the packaging works well and could be taken sucessfully offline.

When we start an Add-Hoc Download it always stopps immediatly - error shows that tile services doesn't support to take o

[2018-11-07 01:33] Kevin-GIS commented on #210
Thank you for the feedback @trichtl

This sounds like a known issue we're aware of.

But just to confirm, do you have the option to download the offline map? i.e. do you see 'Add Offline Area'?

Could you please elaborate on this issue further.

[2018-11-07 01:34] Kevin-GIS commented on #210
Logged SF 1305

[2018-11-07 01:37] trichtl commented on #210
HI @Kevin-GIS - yes preplanned could be correctly downloaded and visualized both Vector tiles and hillshade - yes Add Offline Area is availible in the UI and give me the Option to choose an offline area for download - but on several tries I Hand also during start configure area for download

[2018-11-13 00:46] Kevin-GIS commented on #203
This issue has been addressed.

Closing this issue.

[2018-11-13 00:46] #203 closed

[2018-11-13 00:47] Kevin-GIS commented on #195
The underlying issue has been addressed.

The original issue was due to having Logging enabled in the settings when defining the offline area. Disabling logging was the workaround. Reinstalling the app also disabled logging, which is why that worked.

[2018-11-13 00:50] Kevin-GIS commented on #183
This issue has been addressed. Closing this issue.

[2018-11-13 00:50] #183 closed

[2018-12-17 21:02] doug-m commented on #208
@trichtl this was addressed in 18.1.0.

[2018-12-17 21:02] #208 closed

[2018-12-28 22:11] Kevin-GIS commented on #210
This issue has been addressed. Closing this issue.

[2018-12-28 22:11] #210 closed

[2018-12-28 22:12] Kevin-GIS commented on #209
This issue has been addressed. Closing this issue.

[2018-12-28 22:12] #209 closed

[2018-12-28 22:13] Kevin-GIS commented on #207
Unable to reproduce this issue. Closing for now. Will reopen if it's still a problem.

[2018-12-28 22:13] #207 closed

[2018-12-28 22:14] Kevin-GIS commented on #193
This issue has been addressed. Closing this issue.

[2018-12-28 22:14] #193 closed

[2018-12-28 22:16] Kevin-GIS commented on #192
This issue has been addressed. Closing this issue.

[2018-12-28 22:16] #192 closed

[2018-12-28 22:17] Kevin-GIS commented on #187
This issue has been addressed. Closing this issue.

[2018-12-28 22:17] #187 closed

[2018-12-28 22:34] Kevin-GIS commented on #161
This issue has been addressed. Closing this issue.

[2018-12-28 22:34] #161 closed

[2018-12-29 00:51] Kevin-GIS commented on #144
Closing this issue as non-reproducible.

[2018-12-29 00:51] #144 closed

[2018-12-29 00:59] Kevin-GIS commented on #37
This issue has been addressed. Closing this issue.

[2018-12-29 00:59] #37 closed

[2018-12-29 10:38] trichtl commented on #210
Hi @Kevin-GIS, just retested with 18.1.0 Build 2535 and it still Fails with iOS 12.1 on a Apple iPad Air2

[2018-12-29 11:13] trichtl commented on #37
HI @Kevin-GIS - retested with Build 2535 (18.1.0 - Release) on iOS 12.1.1 on iPad Air 2 and currently I got just a Crash and not an error

[2019-01-02 17:45] Kevin-GIS commented on #210
@trichtl This has been addressed in our internal build and will be addressed in an upcoming release. Thank you for the feedback.

[2019-01-02 17:46] Kevin-GIS commented on #37
@trichtl This has been addressed in our internal build and will be addressed in an upcoming release. Thank you for the feedback.

[2019-01-02 17:47] Kevin-GIS commented on #37
I will look into the crashing issue though...haven't seen that behavior. Only the spatial reference error.

[2019-01-02 17:47] Kevin-GIS commented on #37
Can you please share a crash log? Settings > Privacy > Analytics > System Analytics.

[2019-01-02 18:11] trichtl commented on #37
HI @Kevin-GIS - here is the info from Analytics:

{"app_name":"Collector","timestamp":"2018-12-29 12:09:50.96 +0100","app_version":"18.1.0","slice_uuid":"eb07c131-4211-35ee-a153-19c0368dd97a","adam_id":1294494658,"build_version":"2535","bundleID":"com.esri.aurora","share_with_app_devs":false,"is_first_party":false,"bug_type":"109","os_version":"iPhone OS 12.1.1 (16C50)","incident_id":"1C227A47-DC9

[2019-01-02 18:13] Kevin-GIS commented on #37
Thank you @trichtl

[2019-01-09 18:59] sbatmdc commented on #161
I was just wanting to know if there will be an update released for the application where this fix has been implemented? As of the initial release to the App Store 18.1.0, this issue is still present and prohibits us from implementing the new Collector in our production workflows.

[2019-01-09 23:45] doug-m commented on #161
This will be released, but not in our next update as the changes are in the underlying ArcGIS Runtime SDK.  Best guess would be end of Q1 2019.

[2019-03-13 16:29] Kevin-GIS commented on #65
Closing this issue at this point, as repro map and data are not available. Will reopen if this issue resurfaces or data becomes available.

[2019-03-13 16:29] #65 closed

[2019-03-13 16:37] Kevin-GIS commented on #113
This issue has been addressed and should be available in the next app update.

Closing this issue.

[2019-03-13 16:37] #113 closed

[2019-03-13 16:44] Kevin-GIS commented on #150
Closing this issue as this behavior has been addressed.

The original issue was likely due to trying to download the area before all of its components were built through AGOL, such as the TPK or the SQLite geodatabase.

Collector now displays 'Generating...' for any preplanned area that is still getting built and prevents it from getting downloaded until its completed. Once all the necessary compo

[2019-03-13 16:44] #150 closed

[2019-03-13 16:47] Kevin-GIS commented on #97
Closing this issue as the behavior appears to have been unique to the QA environment used for this testing.

The original issue potentially was due to the offline area being downloaded in Collector before the basemap or replica was fully generated through ArcGIS Online.

In general, when working with preplanned areas, Collector now displays 'Generating...' for any preplanned area that is still get

[2019-03-13 16:47] #97 closed

[2019-03-13 16:53] Kevin-GIS commented on #158
Closing this issue as this behavior has been addressed.

The original issue was likely due to trying to download the area before all of its components were built through AGOL, such as the TPK or the SQLite geodatabase.

Collector now displays 'Generating...' for any preplanned area that is still getting built and prevents it from getting downloaded until its completed. Once all the necessary compo

[2019-03-13 16:53] #158 closed

[2019-03-13 16:59] Kevin-GIS commented on #178
Closing this issue as the original behavior was due to an invalid date format in the JSON of the feature service. Further testing wasn't able to reproduce this issue outside of manually modifying the JSON to replicate the original issue.

Will reopen this issue if this behavior is still reproducible. Will require more details about specifically how this data was originally created and published or

[2019-03-13 16:59] #178 closed

[2019-03-13 17:08] Kevin-GIS commented on #189
Closing this issue as no longer being reproducible.

Recent testing in ArcGIS Online hasn't reproduced this behavior, as the package generation process has been working successfully for multiple maps and areas.

[2019-03-13 17:08] #189 closed

[2019-03-13 17:11] Kevin-GIS commented on #198
This issue has been addressed and should be available in the next app update.

Closing this issue.

[2019-03-13 17:11] #198 closed

[2019-03-13 17:14] Kevin-GIS commented on #201
Closing this issue as this behavior has been addressed.

The original issue was likely due to trying to download the area before all of its components were built through AGOL, such as the TPK or the SQLite geodatabase.

Collector now displays 'Generating...' for any preplanned area that is still getting built and prevents it from getting downloaded until its completed. Once all the necessary compo

[2019-03-13 17:14] #201 closed

[2019-03-13 17:19] ThaoEss opened #211 "Not allow pre-planned package with duplicate layers to be downloaded"
### Issue

For iOS, Collector doesn't support duplicate layers. Hence, downloading the map on-demand from the device fails. I assume this also applies to Android. If yes, here is the case. AGOL still allows the package to be created for this web map. But once the package is downloaded, it only displays one layer. With a lack of a warning message, this might cause some confusion.

### Expected Beha

[2019-03-13 17:37] miaogeng commented on #211
Ref: collector-common 1233

[2019-03-13 20:58] sanderson2146 opened #212 "Add to My Places Extent"
### Issue
When I click add to my places after giving it a name the map centers on a spot near the south pole.

### Expected Behavior
The map should center on the place you just added or the original map extent.

### Map and Credentials

* Group Name: Collector Holistic Testing
* Map Name: AED Test Map

### Steps to Reproduce
1. select a point or a place on the map.
2. click Add to my Places
3. giv

[2019-03-13 21:43] sanderson2146 opened #213 "New Feature label when Editing Existing Feature"
### Issue
When editing an existing feature it says New Feature which is confusing for the user.

### Expected Behavior
It should say something that reflects the fact you're not creating a new feature you're editing an existing one.

### Map and Credentials

* Group Name: Collector Holistic Testing
* Map Name: Damage Assessment

### Steps to Reproduce
1. open the map
2. click on an existing point a

[2019-03-13 21:44] Parks818 opened #214 "Unable to take map off-line"
### Issue Cannot take map area off-line

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device: Galaxy S9+
* OS Version: Android version 9

[2019-03-13 22:05] miaogeng commented on #214
@Parks818 can you share the map to a group and invite the Collector4ArcGIS user to the group so we can review?

[2019-03-13 22:16] Parks818 commented on #214
@miaogeng invited you to a group I created for this test. Is it because we use ArCGIS On-line and not ArcGIS Enterprise.  Reason I ask is because this map works fine taking areas off-line with the new Aurora Collector for IOS.

[2019-03-13 22:25] kyliedonia commented on #213
This is showing up because the popup title is configured to use a field that is empty for that feature. The design (unimplemented at this point) is to show "No Title" when editing a feature with an empty title. You can see this in the iOS app, and Android will match that.

[2019-03-13 22:43] sanderson2146 opened #215 "Unable to Edit Polygons in One Map"
### Issue
When opening a feature and then clicking the pencil icon the feature details go away but no editing dialogue comes up.

### Expected Behavior
The edit dialogue should appear.

### Map and Credentials
This is a client portal at 10.6. Happy to show behavior but can't share/create credentials.

### Steps to Reproduce
1. open the map.
2. click on a feature and then click on the pencil icon
3

[2019-03-13 22:57] Parks818 commented on #214
I just checked the map in Aurora Collector for IOS. It works fine and allows you to add an offline area.
So odd that  option does not appear on Aurora Collector for Android.

[2019-03-13 23:08] kyliedonia commented on #214
The "add offline area" option within the map creates an on-demand offline map area, which isn't supported in this build. This build only supports the preplanned offline map areas defined as part of authoring the web map.

[2019-03-13 23:09] Parks818 commented on #214
I see. Makes sense now.

[2019-03-13 23:10] #214 closed

[2019-03-13 23:11] sanderson2146 opened #216 "Unable to Create Point Offline Outside Map Area"
### Issue
When trying to create a point outside of an offline area I get an error message.

### Expected Behavior
I thought you used to be able to create points outside of the downloaded map area. If this is expected behavior it's decently concerning from a workflow perspective. If someone drives outside of their map area and finds something they won't be able to record it even if they are connect

[2019-03-13 23:18] ThaoEss opened #217 "Issue with hosted view in offline workflow"
### Issue

I have a hosted feature service set up with some nested relationship class: Hydrants > Inspection table > Violation table.
I created a hosted view from the feature service.
Create map offline package from AGOL.
Download map package.
Add a new point: Related records do not show. Only allow to fill in attributes for the point.

Want to test multiple views: unable to proceed.

1. Attempt:

[2019-03-13 23:48] Kevin-GIS commented on #212
This issue appears similar to AF 320

[2019-03-14 12:35] dheerabhat opened #218 "Cannot capture GPS metadata from internal device's GPS"
### Issue
Cannot capture GPS metadata from internal device's GPS

### Expected Behavior
Cannot capture GPS metadata from internal device's GPS when using Collector (Aurora) but can collect if using Collector Classic

### Map and Credentials

* Group Name:
* Map Name:
Test with ArcGIS Enterprise 10.6.1

### Steps to Reproduce

### Device Information
* Device:  CHC LT600T
* OS Version:  5.1

![Colle

[2019-03-14 16:07] Kevin-GIS commented on #218
Hi @dheerabhat thank you for the feedback, this holistic build doesn't currently have support for the GNSS Metadata fields. Those will be coming later in another beta release.

[2019-03-14 16:46] MattJBallard opened #219 "Application crashes when modifying the antenna height"
### Issue
When I attempt to modify the antenna height, Collector crashes

### Expected Behavior
I should be able to modify the antenna height without the application crashing

### Map and Credentials
Not related to a specific map
* Group Name:
* Map Name:

### Steps to Reproduce
Connect to GNSS device (Eos Arrow Gold)
Attempt to modify the antenna height
Application Crashes

### Device Information

[2019-03-14 16:53] Kevin-GIS commented on #219
Thanks for reporting this issue @MattJBallard

Logged AF 644

[2019-03-14 22:51] caro7202 commented on #219
Issue has been fixed. It will be available in the next Beta update.

[2019-03-15 21:49] miaogeng commented on #216
In Collector classic we don't support create points outside of the downloaded map area either. We consider this as design.

[2019-03-15 21:49] #216 closed

[2019-03-15 23:48] Kevin-GIS commented on #217
@ThaoEss Thank you for feedback.

I was able to reproduce the crashing behavior. It's due to the View2 hosted feature layer view being set to 'Add Only'. If it supported full editing, it wouldn't crash.

I logged this issue on our end. AF 654

[2019-08-07 01:52] #219 closed

[2019-08-07 01:57] Kevin-GIS commented on #218
This issue has been addressed when receiving locations through NMEA with the Integrated Receiver. This should be available in the next beta release.

Closing this issue out.

[2019-08-07 01:57] #218 closed

[2019-08-07 02:02] Kevin-GIS commented on #217
This issue has been addressed and is no longer reproducible.

Closing this one out.

[2019-08-07 02:02] #217 closed

[2019-08-07 02:06] Kevin-GIS commented on #212
This issue has been addressed and is no longer reproducible.

Closing this one out.

[2019-08-07 02:06] #212 closed

[2019-08-07 02:09] Kevin-GIS commented on #215
Marking this issue as closed for the time being, as we don't have a reproducible environment to test this issue.

Will reopen if this is still an issue.

[2019-08-07 02:10] #215 closed

[2019-08-07 18:16] Huginn666 opened #220 "Zoom to Bookmarks and/or GNSS position when creating offline project area"
### Issue
Zoom to Bookmarks and/or GNSS position when creating offline project area

### Expected Behavior
Suggest adding the ability when downloading an offline area in Collector to zoom to current GNSS position and better yet, zoom to predefined bookmarked project areas.

[2019-08-07 18:18] doug-m commented on #220
@Huginn666 thanks for the feedback - both of these will be coming in a future beta update.

[2019-08-07 18:22] Huginn666 opened #221 "Direct offline project download to SD card"
### Issue
Direct offline project download to SD card.

### Expected Behavior
I should have been prompted to point my offline project download to an SD card, but was not.  It defaulted to the internal storage on an Android Tab Active 2 running Android v9.

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device: Samsung Active Tab 2
* OS Version:

[2019-08-07 18:22] Huginn666 commented on #220
Thank you!

[2019-08-07 18:27] doug-m commented on #221
@Huginn666 thanks for the feedback.  Currently you can use the SD card to store sideloaded basemaps, which would then be used as part of the download process if you've configured the offline settings for the web map.  We don't support downloading the entire offline area to removable storage.

Can you provide some additional context as to why you want to place all of the offline data on the SD card

[2019-08-07 18:28] aprilchipman opened #222 "Layers not Visible"
### Issue
"User cancelled authentication challenge" error on all layers in maps.

### Expected Behavior
I should be able to see all of the layers in my map, or I should have seen an error message pop-up with more information.

### Map and Credentials

* Group Name: Beta Test Collector
* Map Name: Scavenger Hunt
* Map Name: Collector Training

### Steps to Reproduce
Open the map and select the laye

[2019-08-07 19:43] Huginn666 commented on #221
I surprised how much storage is already consumed on the Samsung Tab Active 2.  I've only installed a dozen or so third party apps and I have <1 GB remaining on the 16 GB storage.  Being able to store offline maps on an SD card would help with this minimal storage issue.

[2019-08-07 19:54] jdzurisin opened #223 "Offline Areas Download Fails"
### Issue

Error when adding offline area.  “Download Failed.  An error occurred downloading the map area.”.  Seems to be exclusive to maps with related data.  We can view the map and the related data live, but it does not let us take them offline.

### Expected Behavior

This should allow for the user to download an area for offline use. The process fails during download.

### Map and Credentials

[2019-08-07 19:57] jaraine opened #224 "Layers not showing up"
### Issue

For map IWSCycle2CollectorBetaTest(which is shared with you guys now), the navigation lines don’t show up and it gives a warning triangle in the layers menu that the field already exists.  This feature is not used to collect data, it is used for reference and to collect related data, such as which species were collected along a transect and when the line was last surveyed.

### Expected

[2019-08-07 20:01] jaraine opened #225 "App crashes and requires internet connection for log in"
### Issue

App crashed and would not allow us to open the app without an internet connection.  This is a problem for us because once our workers leave the office the do not have access to internet until they return at the end of the work day.

### Expected Behavior

In Collector Classic, it will allow you to open the app without an internet connection so that you can work on offline areas.

### Ma

[2019-08-07 20:06] Kevin-GIS commented on #225
This issue appears to be similar to Apps-Android 1011

[2019-08-07 20:10] jaraine opened #226 "Pending Edits Do not show up"
### Issue

When you go to sync data in collector beta, it tells you how many local edits there are, but in Aurora for iOS it gives you a list of pending edits.  That list does not show up in Android Collector Beta.

### Expected Behavior

When you go to sync, you should see a list of the pending edits.  By clicking on one of the items from that list you should be able to get all of the information

[2019-08-07 20:10] jdzurisin opened #227 "UI is very sluggish (Zoom, Pan, Select)"
### Issue

UI/UX is very sluggish in general with zooming, panning, and feature selection in comparison to both Classic android and Aurora iOS.
### Expected Behavior

Pinch, zoom, pan, and selection should be fluid and sufficiently responsive to effectively navigate the map.

### Map and Credentials

* Group Name: PohakuloaTrainingAreaESRISupport
* Map Name: IWSCycle2CollectorBetaTest

### Steps t

[2019-08-07 20:24] jaraine opened #228 "Map does not allow view or interaction with related records"
### Issue

Some of our maps will not allow us to view related data (other maps seem to work fine).
### Expected Behavior

Should be able to click on a navigation line or species list transect, then view, edit or add mrelated data to the common species table and survey status table.

### Map and Credentials

* Group Name: PohakuloaTrainingAreaESRISupport
* Map Name: IWSCycle2CollectorBetaTest

###

[2019-08-07 20:47] jdzurisin opened #229 "Map list scrolls to Shared with me section instead of top (On device) on refresh."
### Issue

Map list scrolls to Shared with me section instead of top (On device) on refresh.
### Expected Behavior

Seems to me that maps that the app should scroll either to On Device or Recent maps instead as groups that have a large number of maps cause issues with UX.
### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device: MotoG7Power MotoG5

[2019-08-07 20:51] jdzurisin opened #230 "Adding Related records default popup term is “New Feature” should be “New Record” as features are a specific term."
### Issue

Adding Related records default popup term is “New Feature” should be “New Record” as features are a specific term. It gave me the impression that I was mistakenly adding a new feature to the top table rather than adding a new related record and without looking at the fields I was unable to decipher that this was not the case.

### Expected Behavior

In addition to the link symbol, the d

[2019-08-07 20:59] Huginn666 opened #231 "Potential confussion when editing existing polyon"
### Issue
1.  After editing a vertex is a polygon (have not tried this with a line feature), the ellipsis button (edit the selected vertex) is not showing unless you tap where it is supposed to be.

2.  Also, after tapping the check mark to submit the edit, the polygon boundary will show pre and post edit simultaneously until the user taps away from the polygon.  These are both potentially confusi

[2019-08-07 21:06] Huginn666 opened #232 "Add the ability to do GNSS averaging for a points and vertices."
### Issue
Add the ability to do GNSS averaging for a points and vertices.

### Expected Behavior
When collecting a point feature and/or a single vertex within a line and/or polygon, allow the user to capture more than one GNSS position estimate.

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device:
* OS Version:

[2019-08-07 21:07] Kevin-GIS commented on #229
This is a known issue - Apps-Android 968

[2019-08-07 21:20] Huginn666 opened #233 "Add the ability to offest points, line, polygons. Manually and with a laser range finder."
### Issue
Add the ability to offset points, line, polygons -- manually and with a laser range finder.

### Expected Behavior
Enable a user to manually add/calculate a feature offsets for points, lines, and polygons.  This is useful when the physical objects in the real world needing to be mapped cannot be physically access (e.g., the top of a cell tower, the middle of a river, etc.).

More informa

[2019-08-07 21:24] Kevin-GIS commented on #233
This is in the product plan - Common 116

[2019-08-07 21:42] dmcilwr commented on #229
Agreed - I would also expect the app to take me to On Device or Recent, Just seems counter intuitive that it is taking me to the bottom of the list of items instead of the top (regardless of what section is the top).
Related note - find the refresh to be super sensitive when trying to scroll to the top when using the account with a lot of maps shown - before user can lift their finger off the scre

[2019-08-07 22:28] kyliedonia commented on #231
I can reproduce both parts of these, and issues are logged for the team:
Part 1: apps-android 1711
Part 2: apps-android 1710

Note: I was able to reproduce these even when not using a high-accuracy receiver.

@Huginn666 could you send me the mp4 in Slack (or email to kdonia at esri.com) so that I can make sure the issue I'm seeing matches that you are seeing?

[2019-08-08 09:33] ananovosel opened #235 "Creating areas from Collector should display current status of packaging"
### Issue
After one defines area to download in Collector, it is confusing if area is being packed or not. New area simply appears after some time.

### Expected Behavior
Collector should show some kind of status while creating areas on-demand.

### Map and Credentials

### Steps to Reproduce

### Device Information
* Device: Huawei P20
* OS Version: Android

[2019-08-08 09:41] ananovosel opened #236 "Collector crashes after successful sync"
### Issue
Collector sometimes crashes after syncing edits. It happens for both in-map sync and from main screen.

### Expected Behavior
After successful sync, Collector should keep running.

### Map and Credentials

### Steps to Reproduce

### Device Information
* Device: Huawei P20
* OS Version: Android 9.1.0

[2019-08-08 12:58] ananovosel opened #237 "Unable to edit polygon vertex"
### Issue
When editing polygon features, one can add new vertex but cannot edit the existing.

### Expected Behavior
One should be able to select each vertex and move it. It should work the same way as it does in Collector Classic.

### Map and Credentials

### Steps to Reproduce

### Device Information
* Device: Huawei P20
* OS Version: Android 9.1.0

[2019-08-08 13:06] ananovosel opened #238 "Layer is not accessible for online editing"
### Issue
When using ArcGIS Enterprise in offline environment (accessed over VPN), layer is not displayed on map and cannot be edited.
When map is opened in app, there is no collect option. In layer list it shows: Error performing Advanced Symbols operation. But hosted layer uses default Portal symbol.

### Expected Behavior
Layer should be available for collecting and editing. The same map works

[2019-08-08 14:30] dmcilwr commented on #236
Encountered the issue described above on one device (Samsung SM-550 & Android 7.1.1) but worked fine using same map on a second device (Samsung SM-T580 & Android 8.1.0)

[2019-08-08 15:36] dmcilwr commented on #223
We have experienced the same issue - maps with no related tables download fine but all maps with related tables fail with the error message described above.
Changing level of detail, area covered and # of records in the coverage area made no difference

Device: Samsung SM-P550 and Samsung SM-T850 running Android 7.1.1 and 8.1.0 respectively

[2019-08-08 15:56] colinlawr commented on #235
Sounds like known issue Apps-Android 1331

[2019-08-08 15:57] colinlawr commented on #235
@ananovosel In this scenario, when you press download, is it opening the map instead of indicating the area is downloading?

[2019-08-08 16:00] colinlawr commented on #236
@ananovosel @dmcilwr What type of data/features are being synced in these scenarios? Would you be willing to share your map(s) with us?

[2019-08-08 16:10] dmcilwr opened #239 "Collector crashes when connecting to external GPS receiver"
### Issue
Changing from integrated GPS to external (bluetooth) GPS receiver causes Collector to crash

### Expected Behavior
Collector should find the bluetooth connected receiver and allow user to select the device and specify the receiver height.

### Steps to Reproduce
Create bluetooth connection between device and external GPS
Go to the Profile/Location settings and click on Provider
Click Add

[2019-08-08 16:26] DerekLaw opened #240 "No audio attachment option when adding a new feature"
### Issue
When creating a new feature in Collector, noticed that the "Record Audio" option was not available (only image and video) for attachment - but it is available with Collector on iOS.

### Expected Behavior
Expecting "Record Audio" option to also be available as an attachment option

### Map and Credentials
Not needed

### Steps to Reproduce
Open a web map with an editable feature layer, c

[2019-08-08 16:36] kyliedonia commented on #237
This should be possible in the app today. @ananovosel did you try tapping on a vertex to select it? Once selected, position the location target where you want the vertex moved to (either using the GPS or by panning the map) and then from the overflow menu choose "Update selected point" -- are you able to see/do this?

There is a bug with the overflow menu: it won't show up when you start editing,

[2019-08-08 16:39] kyliedonia commented on #239
@dmcilwr what external GPS are you using?

[2019-08-08 16:40] kyliedonia commented on #240
These will be coming by the final release but aren't in the current build.

[2019-08-08 16:54] DerekLaw commented on #226
I also observed similar behavior. I was editing a map offline, had 2 edits that were stored locally. But they were not listed in the Sync dialog window.

Using Google Pixel 2, with Android OS v9.

![Screenshot_20190808-094050](https://user-images.githubusercontent.com/1037228/62722076-763cc980-b9c2-11e9-8ab7-48e0198719df.png)

[2019-08-08 17:00] colinlawr commented on #226
This work is not quite finished. It will be in a future build and the final release.

Apps-Android 1223

[2019-08-08 17:09] DerekLaw commented on #223
I also experienced this issue. Or inconsistent results when attempting this workflow.

I tried to create an offline area; I was able to access the "Add offline area" dialog where I can define the spatial extent of the area; when I click 'Download Area' - the app just returns me to the map view. Then I navigate to the list of Maps dialog and I don't see any indicator that my offline area was succes

[2019-08-08 17:18] Kevin-GIS commented on #224
Hi @jaraine

I was able to reproduce the issue with `NavigationLines` failing to load in the map.

When reviewing the JSON for the `NavigationLines` layer for the hosted feature service in ArcGIS Online, I noticed that the 4 editor tracking fields (CreationDate,Creator,EditDate,Editor) have their `editable` property set to `true` instead of `false`. This is likely why the layer is failing to load

[2019-08-08 17:27] DerekLaw commented on #235
I also had this experience. I tried several times to create a new offline area (see Offline Areas Download Fails #223 for details). In fact, I tried 3-4 times - thinking I was not successful. When I returned back to the office about 15 mins later, I noticed that when viewing the map in the "map list" dialog, there is some new text added below the map name "offline areas" - see screenshot below.

!

[2019-08-08 17:58] DerekLaw commented on #236
I was able to sync my edits successfully without issue. I used a pre-planned offline map area.

Google Pixel 2, Android OS v9

[2019-08-08 18:04] jaraine commented on #224
Hi Kevin

Thanks for looking into this and getting back to me.  What you said makes
sense.

To answer your questions, I think that this is a product of creating this
product early in our use of ArcGIS Online and Collector, when it was harder
to make changes to domains and fields.   I think that we probably created
the hosted feature layer, and then we had to make changes to the structure
of the ho

[2019-08-08 18:28] Lmawhinney7175 opened #241 "Can't Use TMM with Trimble R2"
### Issue

Having trouble using Trimble Mobile Manager (TMM) with Trimble R2.  Another testing was reporting an issue with R1.  It appears that TMM is not able to connect without a catalyst subscription.  Colin Lawrence said he is going to look into this.
### Expected Behavior
My understanding is that when you open data collector it should trigger TMM to open and make the connections.  I don't see

[2019-08-08 18:35] Lmawhinney7175 opened #242 "Layers have error message that says "The field already exists.""
### Issue
I have a web map that has multiple water assets that I want to collect points and data with.  However, some layers are not available.  I went to layers and saw an error message, "The field already exists."  I then put this one layer alone in a web map and still saw this error.

### Expected Behavior
This doesn't happen is collector classic.  No error like this appears.

### Map and Crede

[2019-08-08 18:43] nkemphues-sd1 commented on #241
Same issue with a Trimble R2, Collector 2576, Samsung Tab 2/Android 7.0

[2019-08-08 19:15] Kevin-GIS commented on #242
Hi @Lmawhinney7175

I understand that map is behind your firewall currently, but would you be able to share it with me directly so that I can take a look at it?

- With regards to the errors, do you have editor tracking enabled for those layers?
- If so, if you were to review the JSON for each layer and look at the editor tracking fields, is the `editable` property set to `true` or `false`?

Thank

[2019-08-08 19:19] Lmawhinney7175 commented on #242
Hi Kevin,

I can do it, but can I do this tomorrow.  I don't have much free time
today.  Yes, I have editor tracking enabled.  I will look at the JSON
and get back to you.

Thanks,

Laura

Hi @Lmawhinney7175
( https://github.com/Lmawhinney7175)
I understand that map is behind your firewall currently, but would you
be able to share it with me directly so that I can take a look at it?
	●  With regar

[2019-08-08 19:21] Kevin-GIS commented on #242
@Lmawhinney7175 absolutely, whenever you have the time.

[2019-08-08 19:21] Lmawhinney7175 commented on #242
Awesome.  I appreciate the follow up.

@Lmawhinney7175
( https://github.com/Lmawhinney7175)  absolutely, whenever you have the
time.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
(
https://github.com/doug-m/CollectorAuroraTesting/issues/242?email_source=notifications&email_token=AFULULVGQWXTO66S76QUCZTQDRW2XA5CNFSM4IKNLRWKYY3PNVWWK3TUL52HS4DFV

[2019-08-08 19:49] Kevin-GIS commented on #224
Hi @jaraine

Thank you for that information. I performed some testing by publishing from Pro and ArcMap and I cannot reproduce this issue with how the Editor Tracking fields were set to be editable in the feature service. Even when I enabled editor tracking for the feature class inside the file geodatabase where I had chosen editable fields, upon publishing those fields were no longer editable. Th

[2019-08-08 19:50] dmcilwr opened #243 "'Copy' does not work as expected"
### Issue
Using the "copy" feature only copies the attributes not the point or poly. User needs to manually create the new shape.
Points - attributes are copied to a new record, add point flashes green with a check mark icon in the button, then reverts back to add point - user unable to submit/save the changes and edit is lost
Polygons - attributes are copied to a new record but the polygon is not

[2019-08-08 20:04] dmcilwr commented on #239
Qstarz 818xt

It's a random one but we've been using it with collector classic with no
issues

On Thu, Aug 8, 2019, 12:39 PM Kylie Donia, <notifications@github.com> wrote:

[2019-08-08 20:13] dmcilwr commented on #236
Our original syncs failed but shortly after I made the post the rest went
through succesfully
If I okay to continue testing tomorrow I'll try and narrow down the
differences between what was successful and what was not
I think our enterprise is set to not allow external sharing but I'll
verify. If I can't share the map I should be able to get you a temporary
account on our system

On Thu, Aug 8, 2

[2019-08-08 20:34] dmcilwr commented on #237
This didn't work for me either, although I have used it in Collector Classic - so I was looking for it
I'm not getting an option to Update point for the selected vertex, no overflow menu and no ability to resize the panel

[2019-08-08 22:33] miaogeng commented on #239
We have one internal issue about the receiver is slow to show on provider list. Once we have a fix for that, you can try it out again.

Ref: android-1023

[2019-08-08 23:40] kyliedonia commented on #237
To resize the panel, use the header (like where the symbol is) and drag it up/down. Is that not working for you @dmcilwr?

[2019-08-09 20:36] colinlawr commented on #236
@dmcilwr No a problem, when you have a moment to test further please reply here with more information. You mentioned Enterprise -- are you on Portal or a standalone Server? And which version? I can do some additional testing in a similar environment if possible.

[2019-08-10 02:56] Kevin-GIS commented on #222
Thank you for the feedback @aprilchipman

I was able to reproduce the issue on Android only. iOS loads the map and layers successfully.

Logged `Apps-Android 1740`

[2019-08-12 06:20] trigonet commented on #237
Hello, for us it seems to be like this: Technically vertex editing is working, but it is not practicable.

The editing of existing polygon points is therefore very difficult and not  user friendly. We often have the case that rectangular areas (for example buildings) are collected in the field with the help of GPS measurements. As the measurements are not exactly it is necessary to edit the shape

[2019-08-12 12:35] ananovosel commented on #237
Yes, now I managed to edit polygon by moving and deleting existing points, but it is really not intuitive or practical. And also, if I delete four point in a row, Collector crashes.
I would expect it to work in a similar way as it works in Collector Classic. It is much more user friendly.

[2019-08-12 13:10] ananovosel commented on #236
@colinlawr I used hosted feature layers and feature layer referencing DB data. I cannot add AGOL user to our group in Portal so I created new user. I will email you login info.

[2019-08-12 13:36] ananovosel commented on #235
@colinlawr No, map was not opening but it did not indicate download neither. It was like @DerekLaw described. I also thought creating Areas is not working, but they just appeared after some time. I tried again today and now I see Area starts to download as soon as I define it.
Strange, but it seems it is working now as expected.

[2019-08-12 15:00] kyliedonia commented on #237
Thanks for the additional info @ananovosel. Which part do you find not intuitive -- how the point is moved by moving the map and then placing it, or that `Update selected point` is in the overflow menu?

[2019-08-12 15:27] colinlawr commented on #243
Possibly related to Android-1698

[2019-08-13 18:16] dmcilwr commented on #237
Did some testing, and my panel/overflow menu issue is dependent on whether the device is in landscape or portrait mode
- in landscape mode no option to resize the panel and no overflow menu
- switch to portrait mode and a resizable panel appears at the bottom of the screen complete with the overflow menu you described. Was able to edit existing vertices as expected

Note
- 1st attempt to return to

[2019-08-13 21:14] kyliedonia commented on #230
Hi @jdzurisin - could you add some screen captures to this so I can see where you are looking? I don't see that term when I go through adding a related record on my phone. Thanks!

[2019-08-13 22:42] Kevin-GIS commented on #228
@jaraine I was able to reproduce this issue using Android but not iOS.

In the following screenshots, the layer `LP_Species` is related to a table called `Priority1SpeciesList`. It's displayed on iOS and not Android:
<details>
<summary>iOS</summary>

<img src="https://user-images.githubusercontent.com/24723464/62982166-3883da80-bde0-11e9-8c19-8fd667f255d4.jpg" width="300"/>

</details>

<details>

[2019-08-13 22:43] Kevin-GIS commented on #228
Logged `Apps-Android 1756`

[2019-08-13 22:53] Kevin-GIS commented on #224
Hi @jaraine

I just wanted to follow-up with you regarding the last bit of information I shared. I recently tested with the map above and the layers are loading. Therefore it appears you were able to successfully delete those other editor tracking fields from the service for the `NavigationLines` layer?

I also noticed a different issue where `NavigationLines` still doesn't display in the map. I s

[2019-08-14 19:05] Kevin-GIS commented on #238
Hi @ananovosel

I have a few questions for you:
- What version of Portal are you using?
- How was the feature service originally published? i.e. ArcMap, Pro, etc.
- Can you please share a screenshot of the error message in Collector?
- In your testing, you compared this holistic build of Collector Aurora with the current public beta version of Collector Aurora, and only this holistic build has thi

[2019-08-14 19:10] Kevin-GIS commented on #242
Hi @Lmawhinney7175

I just wanted to follow-up with you on this issue.

With regards to your editor tracking layers, if you were to review the JSON for each layer and look at the editor tracking fields, is the `editable` property set to `true` or `false`?

Thank you
-Kevin

[2019-08-14 21:07] colinlawr commented on #243
@dmcilwr Part of what you were describing with the initial point not dropping was a known issue that we have addressed and should be fixed in the next Beta release.

However, the general copy behavior you described is expected at this point. In Classic we had a sub menu that allowed you to specify different methods of copying; this is not the case in the current version. You would see this same be

[2019-08-14 21:26] colinlawr commented on #241
Thank you for your feedback. We are looking into how to improve/fix this workflow.

Android-1274

[2019-08-14 21:34] colinlawr commented on #240
Android-1218

[2019-08-14 21:39] colinlawr commented on #227
We are looking into this. The issue with panning and zooming is not widely reproducible but feature select seems to be an issue on any device.

Apps-Android 1388

[2019-08-14 22:36] Kevin-GIS commented on #223
@jdzurisin I have been able to reproduce this issue in both Android and iOS. In iOS, using the built-in logs when performing downloads, the actual error you're receiving is `Domain already exists`.

Basically what this error is referring to is that when a map is opened and each layer/table is being loaded, being the scenes coded value domains and their values are being loaded with those layers. Fo

[2019-08-14 22:37] Kevin-GIS commented on #223
@dmcilwr

Would be able to share a map with us?

Thank you.
-Kevin

[2019-08-15 16:28] jaraine commented on #228
Hi Kevin

Thank you for looking into this more, and I apologize for the delay in
getting back to you, but things have been super hectic this week.  So, I
looked at the project last night, and when I look at in Classic for iOS,
everything seems to be related as it should be, so I am not sure what could
possibly be going on with the blank name in the JSON for the related
table.  My only explanation

[2019-08-16 00:27] Kevin-GIS commented on #228
Thank you for the feedback @jaraine, and for the explanation regarding the history of this data. I logged an internal issue to look deeper into the related table issue.

With regards to the follow-up issues with sync, are you using the map above that is reference in this issue? If so, are you currently able to download this data in Collector? When I tested this same map that was logged in https://

[2019-08-16 02:43] jaraine commented on #228
Sorry I wasn’t more specific, I can take it offline with Classic Collector.

On Thu, Aug 15, 2019 at 2:27 PM Kevin Burke <notifications@github.com>
wrote:

[2019-08-18 23:31] Lmawhinney7175 commented on #242
Hi Kevin,

I looked at the editable properties, they are set to true.  Below are
screen shots of the json.

Thank you,

Laura

Hi @Lmawhinney7175
( https://github.com/Lmawhinney7175)
I understand that map is behind your firewall currently, but would you
be able to share it with me directly so that I can take a look at it?
	●  With regards to the errors, do you have editor tracking
enabled for thos

[2019-08-20 13:33] ananovosel commented on #238
Hi @Kevin-GIS
This test was done in customers' environment - 10.7.1 ArcGIS Enterprise. Feature service was published from ArcGIS Pro 2.3.
You are correct, issue was only with private beta edition used for holistic testing, while things work fine with current pubic beta.

![Screenshot_20190808_111417_com esri collector](https://user-images.githubusercontent.com/53877884/63351482-a17acd80-c35f-11e9-

[2019-09-05 00:01] kyliedonia commented on #147
The "Show related types" setting released added in the 19.1.0 update of Collector on iOS.

[2019-09-05 00:01] #147 closed

[2019-09-24 23:51] simongis commented on #97
I have encountered this exact issue with a 10.7.1 base deployment on Azure.  Have raised via Support channel.

[2019-09-25 06:12] simongis commented on #157
I am experiencing a similar issue.
- Collector 19.1.0
- 10.7.1 Base deployment on Azure
- Custom Vector Tile package published to the portal

[2019-09-25 16:19] doug-m commented on #157
@simongis I'd recommend contacting support so they can document the scenario.  If you end up with a bug number from support please add that here.

[2019-10-19 19:07] dotMorten commented on #238
I believe this is caused by a Windows update on the server PC. This patch should address it once applied to that server: https://support.esri.com/en/download/7726

[2019-11-20 18:57] robelogb opened #244 "Issue with tpk using custom scheme for offline use in previous portal versions (prior to 10.7)"
### Issue

Previous versions of portal  (prior to 10.7) don't have the option to download sideloaded tpk files for offline map as "Device will use a tile package it already has" is not available  and becomes problematic when switching to tpk in basemap switcher in offline map for files that using custom scheme and coordinate system
### Expected Behavior

### Map and Credentials

* Group Name:
* Ma

[2019-11-20 19:23] kaitpurcell opened #245 "Ability to disable snapping"
### Issue

Enhancement - Option to enable/disable snapping in the Collector app settings

### Expected Behavior

In the way that you can toggle _GPS Averaging_ on/off, there would be a similar functionality for Snapping.

### Map and Credentials

* Group Name: N/A
* Map Name: N/A

### Steps to Reproduce
N/A
### Device Information
* Device: iPhone 7
* OS Version: iOS 12.3.1

ie) If field workers ar

[2019-11-20 19:26] miaogeng commented on #244
@robelogb The reason why it shows the error  "The spatial reference is not compatible with the map" is that the existing Esri basemap doesn't have the same spatial reference as tpk. At offline mode, we don't allow to switch basemap with different spatial reference. Have you consider using hosted tile layer at ArcGIS Enterprise (https://enterprise.arcgis.com/en/portal/10.5/use/manage-hosted-tile-la

[2019-11-20 19:35] CMertz28 commented on #245
I agree, I think this would be a very worthwhile Enh!

[2019-11-20 19:43] robelogb commented on #244
@miaogeng

Thanks. Yes, I understand because of the Esri basemap used different scheme/coordinate system. I see those as work around. I was just exploring the option to use tpk instead and seems like that won't be possible.

[2019-11-20 19:45] robelogb opened #246 "Add scale info (similar to "GPS accuracy") when zooming in and out of a map in Collector (either in offline or live view)"
### Issue

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
This would be helpful to see where the scale is in context of snapping and also for other trouble shooting purposes ( e.g. to see at which scales are tiles are missing for tpk )
### Device Information
* Device:
* OS Version:

[2019-11-20 19:46] JessicaMcCann opened #247 "Snapping Threshold adjustment"
### Issue
Snapping Threshold adjustment - Enhancement - Option set/adjust a snapping threshold

### Expected Behavior
Give additional control on edits wether feature are highly clustered or far apart feature. Benificial either at the collector application or web map settings level.

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device: Iphone

[2019-11-20 20:38] ratliffk commented on #246
Second!!

[2019-11-20 20:42] kyliedonia commented on #246
Is this something you'd find useful for testing purposes (and more in the role of the GIS person getting everything set up), or is it something you think field users would also benefit from?

Thanks!

[2019-11-20 20:45] ratliffk opened #248 "Ability to add vertex to line feature"
### Issue
Ability to add vertex to line feature

### Expected Behavior
Going to break this into a couple issue threads.  If snapping can only be accomplished to a vertex, need the ability to add a vertex to a line (i.e. - water main).  It appears from the issues that a vertex can be added to a polygon.  Regardless of the snapping to vertex, need ability to add a vertex to make adjustments to a lin

[2019-11-20 20:46] JessicaMcCann opened #249 "Allow snapping for first edit vertex"
### Issue
Allow snapping in crosshair of first vertex edit.

### Expected Behavior
Have the opportunity to use snapping before first vertex is dropped (for polygon)

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
1-Click on the plus sign to add a new feature
2-Move the crosshair (snapping is not yet enabled)
3-Choose your feature template
4-First vertex gets put it wher

[2019-11-20 20:52] marshj9 opened #250 "Cannot submit feature edits"
### Issue

I draw in an OH Primary - Phase line with three vertices. Then I try to submit.  It gets stuck on In Progress
### Expected Behavior

When I hit submit, it should submit the edits.
### Map and Credentials

* Group Name:Nov20CollectorHolistic
* Map Name:PODDEMOEDIT

### Steps to Reproduce
1. Drop a DistributionMapWebinar_WFL1 - OH Primary - Phase Three phase line with start vertex, middle

[2019-11-20 20:54] ratliffk opened #251 "Flip active end of line feature for editing"
### Issue
Select a line feature to edit, only one end can be extended from the last active vertex.  No way to select the opposite end of the line to extend from there.

### Expected Behavior
When editing a line feature to extend, need to be able to flip the active end of the line for adding the next vertex.  When a line feature (new or existing) needs to be extended, it is selected (highlighted),

[2019-11-20 20:55] kyliedonia commented on #248
You can insert a vertex today:

1. While editing, tap the vertex you want to come before your new vertex to select it (it will show with a white fill).
2. Tap add point to insert a point into the line at the crosshairs.

See [Edit location](https://doc.arcgis.com/en/collector/ipad/help/capture.htm#ESRI_SECTION2_D4138B38678841B0A410F3CBC7E26002) in the Collector doc on data capture.

[2019-11-20 20:58] ratliffk commented on #248
Will give that a shot!  Will advise if I'm not getting there.  Thanks!!

[2019-11-20 21:07] kyliedonia commented on #250
This is working for me with your map - do you have a good data connection?

[2019-11-20 21:07] trichtl commented on #175
@Kevin-GIS - just retested - Problem is fixed now - symbolscaling works well

[2019-11-20 21:07] #175 closed

[2019-11-20 21:09] marshj9 commented on #250
Just submitted. Took about 25 minutes to submit for me.  I am connected to esri internal

[2019-11-20 21:13] CMertz28 opened #252 "Allow Snapping to a Non-Vertex of a Line/Polygon"
### Issue

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce

### Device Information
* Device: iPhone 6
* OS Version: 11.3.1

[2019-11-20 21:20] ratliffk commented on #246
Field users here really need it.  We use Collector with high-accuracy GNSS receivers to relocate previously captured points.  Our guys in the field have problems understanding that when zoomed in all the way, the cursor bounces erratically making them think they are not getting a good location.  When in reality, they are so far zoomed in the GPS is only moving millimeters.  Having a scale to refer

[2019-11-20 21:26] ratliffk commented on #248
Tried to walk through the instructions.  (I'm not the best in conveying things sometimes in writing!)  I'm not adding a vertex to the end of the line for extending.  I'm trying to add a vertex into the existing line prior to the last vertex.  In doing what you describe, I'm only doubling back up the line.  Does that make sense?

[2019-11-20 21:26] ratliffk commented on #252
He beat me too it!  Yes, very much need for some of our workflows.

[2019-11-20 21:44] trichtl commented on #210
@Kevin-GIS - Retested with Nov. 20 Holistic Build Version and it Fails on two iOS devices - iOS 13.2.2 (IPhone 10) and also on iPad Air 2 with iOS 12.3.2 - WebMap would be this Item: https://austria.maps.arcgis.com/home/item.html?id=ed1d76432c9e451c9e9e050a7f96fc25 (shared with Public - Name OffEdit

[2019-11-20 21:46] ratliffk opened #253 "Extra step to delete a vertex when starting a new line or point feature"
### Issue
When beginning to add a new point or line, the vertex is automatically dropped.  Once I snap to the end of a line, I have to open the options and update the point.  This happens no matter how close I have the cursor to start the creation.

### Expected Behavior
Should be able to snap to a point or location on a line feature, then choose to add a line or point feature.

### Map and Creden

[2019-11-20 21:57] trichtl commented on #57
Hi @Kevin-GIS - just retested with Nov. 2019 Build and Display is now fine with Symbol scaling.

Problem is just now in taken offline (either Ad Hoc or Predevfined Aeas, because of the "invalid" characters, which is know - so we could close this Topic - thanks for fixing.

[2019-11-20 21:57] #57 closed

[2019-11-20 22:00] colinlawr commented on #253
This appears to be the same feedback as #249

[2019-11-20 22:19] colinlawr commented on #248
I understand what you are explaining. You can add vertices to any point of the line, but you are actually modifying the line geometry and not simply adding a vertex so there is a chance you will slightly modify the line geometry in the process. So it is possible, but there are certainly things to discuss still.

I created a video of the workflow: https://www.screencast.com/t/CTZwfTMIu

[2019-11-20 22:35] kyliedonia commented on #252
How would you expect it to be determined where along the line or polygon to snap? @CMertz28 @ratliffk

Thanks!

[2019-11-20 22:42] kyliedonia commented on #248
@ratliffk could you confirm if what Colin's video shows is what you are seeing? You are adding a vertex by placing a new vertex into the line with my steps (so you might change the line as it was between the other two vertices). But the link doesn't get doubled -- it is updating the earlier section of the line, changing the geometry based on the new vertex. If you are seeing additional line get cr

[2019-11-20 23:01] CMertz28 commented on #252
I was envisioning that the orange dot would snap to the line itself and then the user could drag the point to where on the line they wanted the final placement. So, it wouldn't be super exact other than the fact that it would be snapped on the line itself.

[2019-11-20 23:12] robelogb opened #254 "Update from Portal (server) are not shown in offline map once synced"
### Issue

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
-download map for offline ( webmap settings has "Features"  for "editable layers" checked for what to retrieved from server)
-go to map viewer in portal and make edit
-go to device and sync the offline map
-edits made in map viewer is not shown on local mobile device

*tested in 10.6.1 ( ha

[2019-11-20 23:19] miaogeng commented on #254
@robelogb do you register data as version? If it is versioned data, map viewer is editing default version while offline map at Collector is using child version. You need to reconcile and post at the backend and sync at Collecor to see the change.

[2019-11-20 23:30] robelogb commented on #254
@miaogeng

Yes, it is versioned. Thanks!

[2019-11-21 15:00] ratliffk commented on #248
Currently the only way to snap a new point feature is having a vertex to snap too.  In the attached video, I’m trying to add a valve point to an existing line with a hydrant at the end.  When the line was originally drawn, a vertex was not in place.  I’m trying to add a vertex to snap too.  When I add the new vertex, that has now become my active vertex to draw from in the future.  It didn’t inser

[2019-11-21 15:03] ratliffk commented on #252
@CMertz28 got it!  I could see it working like that also.

[2019-11-21 17:02] miaogeng commented on #254
Thanks for confirmation.

[2019-11-21 17:02] #254 closed

[2019-11-21 18:34] robelogb opened #255 "Please add more recent portal URLs at login"
### Issue

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
I see last  portal URL used is replaced when using another Portal URL ( there would only be one recent URL ). The current version there are four recent URLs. It would be nice to have more than one.( I would assume the majority would have one production portal, but organization may have coll

[2019-11-21 19:03] kaitpurcell commented on #255
Ability for 'most recent' QR code could be useful too.

[2019-11-21 20:01] ElenaFernandes opened #256 "Recent values should be accessible for different assets"
### Issue

When using recent values, I can see values when I work with the same type of asset but not when assets differ. So when I added a Hydrant and added a project ID I would see the value carried over when I added another Hydrant but I did not see it when I add a main that also had a project ID field. I do like the way numeric or alphabetic options were filtered depending on the field being u

[2019-11-21 21:05] cdore1 opened #257 "Tracking line disappears in Collector when zooming in to large scale"
### Issue
Tracking line disappears in Collector when zooming in to large scale.  When zoom back out, the line reappears.  Experienced the issue on an iPhone 6

### Expected Behavior
I would hope that I can zoom in and the line would remain

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
Active tracking in web map in Collector
Start walking and collecting points
Stop to

[2019-11-26 20:10] Kevin-GIS commented on #257
@cdore1

In recent testing, I managed to reproduce this issue once using my iPhone X - iOS 12.4.1, however in subsequent tests, I am unable to nail down a consistent repo case.

Can you still reproduce the issue on your end?

For context, here is the behavior I saw:
<img src="https://user-images.githubusercontent.com/24723464/69668935-bee9c280-1045-11ea-9640-f2a5e0d997a1.gif" width="400"/>

[2019-11-26 20:58] trichtl commented on #257
As I was travelling by Train today (over 600 km) I played around that as well and it worked in Detail and continent view.
Only difference I notice is, within Tracker app it goes Always a Little bit Forward - I assume estimation of your current Speed and direction.
Within collector you see just the latest collected Point, when you go fast it would take a Little bit of time to see it - but you might

[2019-11-26 21:43] Kevin-GIS commented on #257
Thank you for the feedback Gerhard.

[2019-11-27 22:41] miaogeng commented on #255
It has been logged as ios 2190

[2019-11-27 22:44] miaogeng commented on #244
Currently this is a limitation. You will need to update the portal to leverage that capability.

[2019-11-27 22:45] #244 closed

[2019-11-27 22:48] miaogeng commented on #249
@JessicaMcCann In the coming beta, you can use snapping at the template selection screen. After picking template, the vertex is kept.

[2019-11-27 22:49] #249 closed

[2019-11-28 14:03] JessicaMcCann commented on #249
Thanks!

[2019-12-02 04:39] khajeemart opened #258 "Able to access QR code or barcode via photo library in device"
### Issue
QR code or barcode cannot access via photo library in device (iPhone).

### Expected Behavior

### Map and Credentials

* Group Name:
* Map Name:

### Steps to Reproduce
1. Open Collector for ArcGIS
2. Select login "Sign In With ArcGIS Enterprise"
3. Select "Scan Code"
4. Should scan via camera or access via photo library in device

### Device Information
* Device: iPhone 8 plus
* OS Ver

[2019-12-02 08:37] khajeemart opened #259 "Should scaning QR code or barcode automatically fill"
### Issue
Cannot scanning QR code or barcode to collect data automatically fill the form.

### Expected Behavior

Collector for ArcGIS should able to automatically fill the form after scanning QR code or barcode, similar to Survey123 for ArcGIS (Example in attach link below). Which can configure QR code or barcode to support data type.

### Map and Credentials

* Group Name:
* Map Name:

### Steps

[2019-12-02 08:37] khajeemart commented on #259
https://drive.google.com/file/d/1QulKficP4gOF0EhgYSkiG9yiUCh5R5H-/view?usp=sharing

[2019-12-03 00:40] colinlawr commented on #259
@khajeemart This is already possible in the current iOS release of Collector. When editing any text field, there is a QR code icon above the keyboard. Scanning a QR code will populate whatever values are embedded in the code into the current field.

Is this what you meant?

[2019-12-03 00:48] colinlawr commented on #258
@khajeemart The ability to scan a QR code to sign into Portal is coming in an upcoming beta.

Can you clarify the part about accessing a photo on your device? Are you referring to a QR stored as a photo on your device?

[2019-12-03 02:16] khajeemart commented on #258
Yes, I referring to QR code stored as a photo on my device. We can select scan QR code via camera or select QR code photo on device.

[2019-12-03 02:37] khajeemart commented on #259
I meant, when scan QR code or barcode in one field it can reference multiple fields.

[2019-12-03 18:29] colinlawr commented on #259
Thank you for the clarification.

[2019-12-03 19:03] colinlawr commented on #258
@khajeemart Can you outline your use case for scanning a QR code from the phones library? Why would this be more beneficial to you or your organization?

Looking into this a bit it seems it requires a 3rd party app to 'scan' from a photo on your device.

[2019-12-05 18:54] khajeemart commented on #258
Outline:
After generate QR code portal, you can save QR code photo on device.
1. Open Collector for ArcGIS
2. Select login "Sign In With ArcGIS Enterprise"
3. Select "Scan Code"
4. You can scan QR code via camera or select QR code (photo) via photo library on device.
(Example: When you add friend in Line app by QR code, we can select scan via camera or  )

I think this is easy for field surveying

[2020-01-11 00:42] colinlawr commented on #228
@jaraine This should be fixed in the next beta update. We hope to have one by the end of the month.

[2020-10-15 20:57] #180 closed